<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trending and Tech News</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <meta name="google-site-verification" content="a44jSrIQHEZzGh1tFbqAMnaLcAroro4QzhS5H17x_Dw" />
    <meta name="f1ba3dff543593fe257d836626006ebf5882a4e4" content="f1ba3dff543593fe257d836626006ebf5882a4e4" />
</head>
<body>
    <!--Title and nav bar-->
    <div class="title-bar">
        <nav class="navbar">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>
        <h1>Trending News with StrayOne</h1>
    </div>

    <div class="container">
        {% for article in articles %}
        <div class="article-preview">
            <a href="{{ article.url }}" target="_blank">
                <img src="{{ article.thumbnail }}" alt="{{ article.title }}">
                <p>{{ article.title }}</p>
                <p>{{ article.description }}</p>
            </a>
        </div>
        {% endfor %}
    </div>

    <div id="ad-container" style="width: 300px; height: 250px; background-color: lightgrey; text-align: center;">
    Loading Ad...
   <script>
(function(dwcb){
var d = document,
    s = d.createElement('script'),
    l = d.scripts[d.scripts.length - 1];
s.settings = dwcb || {};
s.src = "\/\/sweltering-development.com\/byX.VJsVdVGRln0MYIWtdgifY-Wg5Fu\/Z\/XpIu\/Xe\/m\/9qufZzUSlxkTPBTcYxwoMKD\/UG2zM\/TXAvtqNBj-A\/wPNtTdYZx\/MKQt";
s.async = true;
s.referrerPolicy = 'no-referrer-when-downgrade';
l.parentNode.insertBefore(s, l);
})({})
</script>


 <script>
(function(dkm){
var d = document,
    s = d.createElement('script'),
    l = d.scripts[d.scripts.length - 1];
s.settings = dkm || {};
s.src = "\/\/sweltering-development.com\/b\/X.Vbs\/d-Gllg0fYSWqdliOY\/Wu5JujZcXXIP\/Fe-m\/9lunZxUfl\/klPBTFYQwLMdDDUa1DOHDnA\/t\/N-j\/Amw\/NnTSUO4uMwQN";
s.async = true;
s.referrerPolicy = 'no-referrer-when-downgrade';
l.parentNode.insertBefore(s, l);
})({})
</script>


    <script>
(function(fvvlm){
var d = document,
    s = d.createElement('script'),
    l = d.scripts[d.scripts.length - 1];
s.settings = fvvlm || {};
s.src = "\/\/sweltering-development.com\/bDXKVss.daG\/lv0UYjWAdEieYrWM5-u\/ZLXeIC\/Iewmw9EuwZsUwl\/keP\/TAYPwyMzDTYM0XMXTFcTtmN\/jWA-wbNhjHQjxzO\/AN";
s.async = true;
s.referrerPolicy = 'no-referrer-when-downgrade';
l.parentNode.insertBefore(s, l);
})({})
</script>


    <script>
(function(nvdo){
var d = document,
    s = d.createElement('script'),
    l = d.scripts[d.scripts.length - 1];
s.settings = nvdo || {};
s.src = "\/\/sweltering-development.com\/b\/X.VYsrdAGylJ0zYwW\/dJi\/YiWD5\/ueZ_XjIN\/seCmf9musZpUflykrPlT\/YowHMqDJYi0UMJjEcYt\/NNjPAhwONejUQ\/yXOFA_";
s.async = true;
s.referrerPolicy = 'no-referrer-when-downgrade';
l.parentNode.insertBefore(s, l);
})({})
</script>
        
</div>


    <script async="async" data-cfasync="false" src="//pl25532625.profitablecpmrate.com/8822094742e0551294538b3f5a7c7268/invoke.js"></script>
<div id="container-8822094742e0551294538b3f5a7c7268"></div>

</body>
</html>
