<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trending and Tech News</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <meta name="google-site-verification" content="a44jSrIQHEZzGh1tFbqAMnaLcAroro4QzhS5H17x_Dw" />
    <meta name="f1ba3dff543593fe257d836626006ebf5882a4e4" content="f1ba3dff543593fe257d836626006ebf5882a4e4" />
</head>
<body>
    <!--Title and nav bar-->
    <div class="title-bar">
        <nav class="navbar">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>
        <h1>Trending News with StrayOne</h1>
    </div>

    <div class="container">
        {% for article in articles %}
        <div class="article-preview">
            <a href="{{ article.url }}" target="_blank">
                <img src="{{ article.thumbnail }}" alt="{{ article.title }}">
                <p>{{ article.title }}</p>
                <p>{{ article.description }}</p>
            </a>
        </div>
        {% endfor %}
    </div>

    <!-- cpm Ad placement -->
    <div class="cpm-ad-left">
        <script>
            (function(uwoan){
            var d = document,
                s = d.createElement('script'),
                l = d.scripts[d.scripts.length - 1];
            s.settings = uwoan || {};
            s.src = "\/\/sweltering-development.com\/b.XKVws\/dUGSlV0QYXWPdmiWYAWS5juwZYXhIn\/TeYmD9cuHZNU_lZkKP\/TtYrw\/MZDVUx1fODD\/A\/twNyjLAUwqNYTkUO4\/MuQf";
            s.async = true;
            s.referrerPolicy = 'no-referrer-when-downgrade';
            l.parentNode.insertBefore(s, l);
            })({})
            </script>
    </div>
    <div class="cpm-ad-left">
        <script>
            (function(mwv){
            var d = document,
                s = d.createElement('script'),
                l = d.scripts[d.scripts.length - 1];
            s.settings = mwv || {};
            s.src = "\/\/sweltering-development.com\/bHX\/V.sLdgG\/ld0EY\/Wcd-i\/YIWF5ru\/ZwXgIy\/Deamv9Ku\/ZtU\/lBknP_T\/YGwAMTDsU\/2zMATbAqtGNxjHAxw\/NnTgYAxrMgQZ";
            s.async = true;
            s.referrerPolicy = 'no-referrer-when-downgrade';
            l.parentNode.insertBefore(s, l);
            })({})
            </script>
    </div>
    <div class="cpm-ad-right">
        <script>
            (function(cjjjm){
            var d = document,
                s = d.createElement('script'),
                l = d.scripts[d.scripts.length - 1];
            s.settings = cjjjm || {};
            s.src = "\/\/sweltering-development.com\/b\/XgVjs.drGllJ0\/YRWhdXixYwWe5\/uYZvXgI_\/OegmJ9\/uNZiU\/lDkHPwTdY-wAMeD\/Y\/0wMPToc\/t\/N\/jGAMw\/NVjsQExiOVAw";
            s.async = true;
            s.referrerPolicy = 'no-referrer-when-downgrade';
            l.parentNode.insertBefore(s, l);
            })({})
            </script>
    </div>
    <div class="cpm-ad-right">
        <script>
            (function(nvdo){
            var d = document,
                s = d.createElement('script'),
                l = d.scripts[d.scripts.length - 1];
            s.settings = nvdo || {};
            s.src = "\/\/sweltering-development.com\/b\/X.VYsrdAGylJ0zYwW\/dJi\/YiWD5\/ueZ_XjIN\/seCmf9musZpUflykrPlT\/YowHMqDJYi0UMJjEcYt\/NNjPAhwONejUQ\/yXOFA_";
            s.async = true;
            s.referrerPolicy = 'no-referrer-when-downgrade';
            l.parentNode.insertBefore(s, l);
            })({})
            </script>
    </div>
    <!--cpc ad banner-->
    <div class="bottom-ad-container ">
        <div class="cpc-ad">
            <script async="async" data-cfasync="false" src="//pl25532625.profitablecpmrate.com/8822094742e0551294538b3f5a7c7268/invoke.js"></script>
            <div id="container-8822094742e0551294538b3f5a7c7268"></div>
        </div>
    </div>
</body>
</html>
